

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #B8B8D1;
    border: 1px solid #5B5F97
}

li{
    display: inline;
    text-align: center;
}
